.btn {
    padding: 10px 14px;
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

    &.upload {
        border: 2px solid rgb(33, 203, 255);
        color: rgb(33, 203, 255);

        &:hover {
            background-color: rgb(33, 203, 255);
            color: rgb(54, 53, 53);
        }
    }

    &.delete {
        border: 2px solid rgb(255, 33, 33);
        color: rgb(255, 33, 33);

        &:hover {
            background-color: rgb(255, 33, 33);
            color: rgb(54, 53, 53);
        }
    }

    &.close {
        border: 2px solid rgb(255, 33, 33);
        color: rgb(255, 33, 33);

        &:hover {
            background-color: rgb(255, 33, 33);
            color: rgb(54, 53, 53);
        }
    }
}

.btnShare {
    background-color: rgb(33, 203, 255);
    color: white;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    transition: .3 linear;

    &:hover {
        background-color: transparent;
        border: 2px solid rgb(33, 203, 255);
        color: rgb(33, 203, 255);
    }
}

.send {
    outline: none;
    border: none;
    color: rgb(33, 92, 255);

    &:hover {
        scale: 0.8;
    }
}