@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("bgSoft");
    padding-bottom: 20px;

    .images {
      width: 100%;
      height: 400px;
      position: relative;

      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .container {
      padding: 20px 70px 10px 70px;

      @include mobile {
        padding: 10px;
      }

      @include tablet {
        padding: 20px;
      }

      .profileContainer {
        height: 150px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        padding: 30px;
        display: grid;
        grid-template-rows: auto;
        gap: 10px;
        margin-bottom: 20px;

        .info {
          display: grid;
          grid-template-columns: 180px auto auto;

          .avt {
            height: 150px;
            width: 150px;
            margin: 5px;

            .profilePic {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .center {
            display: grid;
            grid-template-rows: auto auto;

            .h3 {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 30px;
              font-weight: 500;
            }

            .social {
              display: flex;
              align-items: flex-start;

              .icon {
                margin-right: 8px;
                font-size: 30px;
                cursor: pointer;
                border-radius: 50%;
                color: white;
              }

              .ins {
                background: linear-gradient(45deg,
                    #405de6,
                    #5b51db,
                    #b33ab4,
                    #c135b4,
                    #e1306c,
                    #fd1f1f);

                &:hover {
                  background-color: none;
                  background: none;
                  color: #c135b4;
                }
              }

              .linked {
                background-color: #0274b3;

                &:hover {
                  background-color: none;
                  background: none;
                  color: #0274b3;
                }
              }

              .git {
                background-color: #24262a;

                &:hover {
                  background-color: none;
                  background: none;
                  color: #24262a;
                }
              }

              .ytb {
                background-color: #ff0000;

                &:hover {
                  background-color: none;
                  background: none;
                  color: #ff0000;
                }
              }
            }
          }
        }

        .btnUpdate {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;

          .follow {
            padding: 10px 20px;
            cursor: pointer;
            border: 2px solid orange;
            border-radius: 12px;
            background: transparent;
            color: orange;
            font-weight: 700;

            &:hover {
              background: orange;
              color: rgb(54, 53, 53);
            }
          }
        }
      }
    }

    .postContainer {

      main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 10px;
        background-color: themed("bgSoft");

        .information {
          column-gap: 10px;

          .panel {
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            border-radius: 20px;
            background-color: themed("bg");
            color: themed("textColor");
            padding: 20px;
            margin-bottom: 10px;

            .photos {
              display: flex;
              align-items: flex-start;
              gap: 3px;
              margin-top: 5px;

              .wrapImg {

                .photoS {
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}